<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AgroPlanner</title>

    <link rel="stylesheet" href="/static/core/css/index.css">
</head>

<body>

    <!-- Contenido -->
<div class="navbar">

    <img src="/static/core/imagen/logoUTN.png" alt="Logo">

    <h2>AgroPlanner</h2>

</div>

</body>


    <!-- Contenido -->
    <div class="container">

        <!-- Card -->
        <div class="card">
            <h2>Agregar lotes</h2>
        </div>

    </div>

</body>
</html>